extends layout

block content
  div#wrap
    div#main.clearfix
      div.container-fluid.browser-bar
        div.row-fluid
            div.navbar
              div.navbar-inner
                a.brand(href="/") BITSystems
                ul.nav
                  li.current
                    a Engineering.
                  li
                    a Results.
                  li
                    a About Us.
                ul.nav.pull-right
                  li
                    a Contact
                  li
                    a Locations
      div.container-fluid
        div.row-fluid
          div.span12
            
  div#footer
    div.container
      h4.footer-font Employee links
      ul.nav
        li
          i.icon.icon-white.icon-envelope 
        li
          i.icon.icon-white.icon-medkit 
        li
          i.icon.icon-white.icon-phone 


