extends layout

block content
  div.container.top-gap-l
    div.row-fluid
      div.span12
        img(src="images/billboards/5.jpg")
    div.row-fluid
      div.span12
        we should talk about the different engineering disciplines and other stuff we do on this page


