extends layout

block content
  div.container.top-gap-l
    div.row-fluid
      div.span12
        div#myCarousel.carousel.slide
          ol.carousel-indicators
            li.active(data-slide-to="0", data-target="#myCarousel")
            li(data-slide-to="1", data-target="#myCarousel")
            li(data-slide-to="2", data-target="#myCarousel")
          div.carousel-inner
            div.active.item
              img(src="images/billboards/3.jpg")
              div.carousel-caption
                h4 Sets The Cinema Back 900 Years!
                p 
                  | Well, how'd you become king, then? Found them? In Mercia?! The coconut's tropical!
            div.item
              img(src="images/billboards/8.jpg")
              div.carousel-caption
                h4 Dennis the pesant
                p 
                  | We found them. The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water
            div.item
              img(src="images/billboards/10.jpg")
              div.carousel-caption
                h4 Blue. No, yel…
                p 
                  | Ni! Ni! Ni! Ni! Well, she turned me into a newt. I dunno. Must be a king.
  div.container.top-gap-l.gapper
    div.row-fluid.top-gap
      div.span12
        a(name="engineering")
         h1 Engineering.
        p
          | Founded by a small group of engineers in 1999, BITS has grown to nearly 500 highly skilled engineers who are recognized as leaders in their respective fields. The commitment of our employees to "Engineering Results" is the catalyst that has propelled BITS to becoming a leader in software development, R&D, sensor development and signal processing.
        p
          | Our engineering teams are highly adept at solving complex problems with the application of leading-edge technology solutions, empowering decision-makers to make better mission-critical decisions. 
        p
          | Our operational team excels at signal collection, processing and analysis. We have operational personnel stationed around the world in support of our customers' missions.
    div.row-fluid.top-gap
      div.span12
        div.dome(data-stellar-background-ratio="0.5")
    div.row-fluid.top-gap
      div.span12
        p
          | Neutra nihil velit, hella cillum craft beer laboris PBR aliqua gluten-free nulla Tonx esse lo-fi Echo Park. Qui pickled commodo, forage tattooed 3 wolf moon literally kale chips aute freegan umami Terry Richardson. Cray wayfarers nostrud tote bag. Dreamcatcher accusamus single-origin coffee, literally pickled Cosby sweater delectus magna chambray. Enim gluten-free Austin, ea 3 wolf moon american apparel accusamus ethnic kogi jean shorts kitsch. Roof party vegan blue bottle Brooklyn. Food truck eiusmod labore banjo irure.
        p
          | Eu elit laborum, authentic aliquip beard deserunt helvetica stumptown anim. Ugh sartorial odio Pinterest aliqua, scenester locavore pitchfork selfies enim. Food truck literally skateboard deep v, cliche organic ethnic. Ea gastropub banjo in, duis church-key proident bicycle rights. Mollit ut laborum four loko twee, plaid quis excepteur. Ullamco cray pour-over, photo booth gastropub messenger bag Terry Richardson. Tote bag excepteur you probably haven't heard of them farm-to-table +1, literally selvage velit fashion axe Vice pitchfork.
        p
          | Neutra quinoa excepteur, pug gluten-free culpa proident single-origin coffee officia blue bottle exercitation. Gastropub fugiat art party, aliqua leggings mustache Odd Future minim sartorial occupy Tonx. Forage butcher bespoke, locavore elit banjo consectetur tattooed artisan est. Minim Schlitz next level Williamsburg accusamus, kitsch ex. Church-key 3 wolf moon hashtag yr velit delectus. Umami High Life you probably haven't heard of them, bicycle rights pork belly keytar delectus bespoke fugiat authentic aliqua narwhal roof party wolf. Esse fap kogi, Williamsburg mollit minim photo booth lomo DIY scenester farm-to-table readymade gentrify street art Truffaut.
        p
          | Neutra nihil velit, hella cillum craft beer laboris PBR aliqua gluten-free nulla Tonx esse lo-fi Echo Park. Qui pickled commodo, forage tattooed 3 wolf moon literally kale chips aute freegan umami Terry Richardson. Cray wayfarers nostrud tote bag. Dreamcatcher accusamus single-origin coffee, literally pickled Cosby sweater delectus magna chambray. Enim gluten-free Austin, ea 3 wolf moon american apparel accusamus ethnic kogi jean shorts kitsch. Roof party vegan blue bottle Brooklyn. Food truck eiusmod labore banjo irure.
        p
          | Eu elit laborum, authentic aliquip beard deserunt helvetica stumptown anim. Ugh sartorial odio Pinterest aliqua, scenester locavore pitchfork selfies enim. Food truck literally skateboard deep v, cliche organic ethnic. Ea gastropub banjo in, duis church-key proident bicycle rights. Mollit ut laborum four loko twee, plaid quis excepteur. Ullamco cray pour-over, photo booth gastropub messenger bag Terry Richardson. Tote bag excepteur you probably haven't heard of them farm-to-table +1, literally selvage velit fashion axe Vice pitchfork.
        p
          | Neutra quinoa excepteur, pug gluten-free culpa proident single-origin coffee officia blue bottle exercitation. Gastropub fugiat art party, aliqua leggings mustache Odd Future minim sartorial occupy Tonx. Forage butcher bespoke, locavore elit banjo consectetur tattooed artisan est. Minim Schlitz next level Williamsburg accusamus, kitsch ex. Church-key 3 wolf moon hashtag yr velit delectus. Umami High Life you probably haven't heard of them, bicycle rights pork belly keytar delectus bespoke fugiat authentic aliqua narwhal roof party wolf. Esse fap kogi, Williamsburg mollit minim photo booth lomo DIY scenester farm-to-table readymade gentrify street art Truffaut.
  div.container.top-gap-l.gapper
    div.row-fluid.top-gap
      div.span12
        a(name="results")
         h1 Results.
         div.results(data-stellar-background-ratio="0.7")
        p
          | Founded by a small group of engineers in 1999, BITS has grown to nearly 500 highly skilled engineers who are recognized as leaders in their respective fields. The commitment of our employees to "Engineering Results" is the catalyst that has propelled BITS to becoming a leader in software development, R&D, sensor development and signal processing.
        p
          | Our engineering teams are highly adept at solving complex problems with the application of leading-edge technology solutions, empowering decision-makers to make better mission-critical decisions. 
        p
          | Our operational team excels at signal collection, processing and analysis. We have operational personnel stationed around the world in support of our customers' missions.
    div.row-fluid.top-gap
      div.span12
        
  div.container.top-gap-l.gapper
    div.row-fluid.top-gap
      div.span12
        a(name="opportunities")
         h1 Opportunities.
         div.opportunities(data-stellar-background-ratio="0.5")
        p
          | Founded by a small group of engineers in 1999, BITS has grown to nearly 500 highly skilled engineers who are recognized as leaders in their respective fields. The commitment of our employees to "Engineering Results" is the catalyst that has propelled BITS to becoming a leader in software development, R&D, sensor development and signal processing.
        p
          | Our engineering teams are highly adept at solving complex problems with the application of leading-edge technology solutions, empowering decision-makers to make better mission-critical decisions. 
        p
          | Our operational team excels at signal collection, processing and analysis. We have operational personnel stationed around the world in support of our customers' missions.
    div.row-fluid.top-gap
      div.span12
        

