!!! 5
html(lang='en')
  head
    title BITSystems Inc.

    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='lib/fontawesome/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/bits.css')
    script(type='text/javascript', src='lib/jquery/jquery.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap-carousel.js')
    script(type='text/javascript', src='lib/bootstrap/js/jquery.stellar.min.js')
    script(type='text/javascript', src='js/bits.js')
    
  body
    div#wrap
      div#main.clearfix
        div.container-fluid.browser-bar
          div.container
            div.row-fluid
                div.navbar
                  div.navbar-inner
                    a(href="/").brand
                      img(src="images/logo-small-white.png")
                    ul.nav.nav-header
                      li
                        a(href="#engineering") Engineering
                      li
                        a(href="#results") Results
                      li
                        a(href="#opportunities") Opportunities
                      li
                        a(href="#contact")Contact
                      li
                        a(href="#employees") Employees
        block content

    div#footer
      a(name="employees")
      div.container
        ul.footer-links
          li Employee links: 
          li
            a(href="https://webmail.six3systems.com/owa/auth/logon.aspx?replaceCurrent=1&url=https%3a%2f%2fwebmail.six3systems.com%2fowa%2f")
              i.icon.icon-white.icon-envelope 
              span Email
          li
            a(href="https://timesheet.six3systems.com/DeltekTC/welcome.msv")
              i.icon.icon-white.icon-time 
              span Timesheet
          li
            a(href="")
              i.icon.icon-white.icon-medkit 
              span Benefits
          li
            a(href="#")
              i.icon.icon-white.icon-phone 
              span Contacts
