!!! 5
html(lang='en')
  head
    title BIT Systems Inc.

    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='lib/fontawesome/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/bits.css')
    script(type='text/javascript', src='lib/jquery/jquery.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap-carousel.js')
    script(type='text/javascript', src='js/bits.js')
    
  body
    div#wrap
      div#main.clearfix
        div.container-fluid.browser-bar
          div.row-fluid
              div.navbar
                div.navbar-inner
                  a.brand BITSystems
                  ul.nav
                    li
                      a(href="engineering") Engineering.
                    li
                      a Results.
                    li
                      a About Us.
                  ul.nav.pull-right
                    li
                      a(href="contact") Contact
                    li
                      a Locations
        block content

    div#footer
      div.container
        h4.footer-font Employee links
        ul.nav
          li
            i.icon.icon-white.icon-envelope 
          li
            i.icon.icon-white.icon-medkit 
          li
            i.icon.icon-white.icon-phone 