!!! 5
html(lang='en')
  head
    title BIT Systems Inc.

    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='lib/fontawesome/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/bits.css')
    script(type='text/javascript', src='lib/jquery/jquery.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='lib/bootstrap/js/bootstrap-carousel.js')
    script(type='text/javascript', src='js/bits.js')
    
  body
    block content